@import '~normalize-scss/sass/normalize';
@include normalize();

body {
  display: grid;
  grid-template-areas: 'h' 's' 'p';
  grid-template-rows: 2fr 2fr 20fr;
  margin: 2rem;
  button {
    cursor: pointer;
  }
}

.header {
  grid-area: h;
  text-align: center;
  background-color: aquamarine;
}

.sidebar {
  display: flex;
  flex-direction: row;
  grid-area: s;
  justify-content: space-around;
  background-color: coral;
  h1 {
    cursor: pointer;
    text-align: center;
  }
  .choosen {
    background-color: cadetblue;
  }
}

.pageBody {
  display: flex;
  flex-direction: column;
  grid-area: p;
  align-items: center;
  justify-content: center;
  background-color: darkgrey;

  .table-header {
    text-align: center;
  }

  .table-wrapper {
    height: 100Vh;
    overflow-y: scroll;
    text-align: center;
    width: 51rem;
    overflow-x: hidden;
  }
  table {
    width: 50rem;
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  td, th {
    padding: 8px;
    text-align: center;
    border: 1px solid #dddddd;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
